<div class="collapsible collapsible--expanded">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">the items</h2>
    <svg class="icon icon--collapsible collapsible__chevron">
      <use xlink:href="images/sprite.svg#chevron"></use>
    </svg>
  </header>
  <div class="collapsible__content">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti
    repudiandae mollitia esse sunt tempora excepturi optio accusantium earum
    commodi maiores.
  </div>
</div>
